:root {
--ivory: #E1E7E0;
--darkBlue: #2B4560;
--tiffanyBlue: #6AA4B0;
--midnightBlue:#2F6D80;
--roboto: 'Roboto', sans-serif;
}

body {
  background-color: var(--ivory);
  color: var(--darkBlue);
  margin: 0;
  /* background-image: repeating-linear-gradient(red ,orange 5%,yellow 10%,green 15%,blue 20%,indigo 25%,violet 30%); */
}

html {
  scroll-behavior: smooth;
}

.app > div {
  margin-bottom: 50px;
}

.navBar {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  height: 55px;
  /* background-color: black; */
  background-color: black;
  color: red;
  font-family: Comic Sans MS;
  font-size: 30pt;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

.logo {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*============ Ratings and Reviews ============= */

.sort-menu {
  font-family: var(--roboto);
  font-size: 20px;
}

.sort-options {
  color: var(--darkBlue);
  border: none;
  background-color: var(--ivory);
  font-family: var(--roboto);
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

.sort-options:focus {
  outline: none;
}

.sort-positioning {
  text-decoration: underline;
  margin: 5px 10px 0px 40px;
}

.parent-div {
  height: 20px;
  width: 80%;
  background-color: var(--ivory);
  border: 2px solid;
  border-radius: 40px;
  border-color: var(--midnightBlue);
  margin: 50;
  margin-left: 1.5em;
}

.child-div {
  height: 100%;
  background-color: var(--tiffanyBlue);
  border-radius: 40px;
  text-align: right;
  font-size: 15px;
  top: 5px;
  right: 5px
}

.progress-text {
  padding: 1px;
  color: var(--midnightBlue);
  font-family: var(--roboto);
  font-weight: 100;
  font-size: 13px;
}

.progress-container {
  /* position: ; */
  /* bottom: 0;
  right: 0;
  width:100px*/
}

.slider {
  --sliderHieght: 21px;
  --sliderWidth: 7px;
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: var(--sliderWidth);
  height: var(--sliderHieght);
  background: var(--midnightBlue);
  cursor: pointer;
}

.slider-fit {
  display: flex;
  gap: 70px;
  color: grey;
  font-size: 10.5px;
  width: 54%;
}



.ratings-container {
  margin: auto;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.ratings-item {
  margin-top: auto;
}

.side-bar {
  border-left: 2px solid var(--midnightBlue);
  border-right: 2px solid var(--midnightBlue);
  border-radius: 10px;
  /* background-image: linear-gradient(to right, var(--ivory)40%, var(--tiffanyBlue)); */
  padding: 0 50px;
  /* width: 30%; */
  margin: 5px 60px 0px 0px;
  font-family: var(--roboto);
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
  /* position: relative; */
  align-content: center;
  height: max-content;
}



.review-list {
  padding: 2rem;
  width: 50%;
  max-height: 90vh;
  margin: 5px;
  margin-top: 20px;
  word-wrap: break-word;
  overflow: auto;
  font-family: var(--roboto);
}

.review-list-component {
  overflow: auto;
  max-height: 600px;
}

.review {
  border-left: 2px solid var(--midnightBlue);
  border-right: 2px solid var(--midnightBlue);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  margin-top: 30px;
  font-family: var(--roboto);
  padding-bottom: 30px;
}

.review-info {
  color: var(--tiffanyBlue);
  float: right;
  margin: 5px
}

.add-photos-btn {
  padding: 5px;
  margin: 10px;
  color: var(--darkBlue);
  cursor: pointer;
  box-sizing: content-box;
  background-color: var(--ivory);
  border-radius: 10px;
  transition-duration: 0.2s;
  font-family: var(--roboto);
}

.add-photos-btn:hover {
  background-color: white;
  color: var(--darkBlue);
  padding: 10px;
  margin: 5px;
}

.send-review-btn {
  padding: 5px;
  margin: 10px;
  color: var(--darkBlue);
  cursor: pointer;
  box-sizing: content-box;
  background-color: var(--ivory);
  border-radius: 10px;
  transition-duration: 0.2s;
  font-family: var(--roboto);
  float: right;
}

.send-review-btn:hover {
  background-color: white;
  color: var(--darkBlue);
  padding: 10px;
  margin: 5px;
}

.load-more {
  margin-top: 5px;
  margin-left: 10%;
  margin: 5px;
  font-family: var(--roboto);
}

.show-more-body {
  font-family: var(--roboto);
  cursor: pointer;
  color: var(--darkBlue);
  text-decoration: underline;
  font-size: 11px;
}

.show-more-body:hover {
  text-decoration: none;
  color: var(--tiffanyBlue);
}

.seller-response {
  text-decoration: underline;
  cursor: pointer;
  color: var(--darkBlue);
  font-family: var(--roboto);
}

.review-thumbnail {
  width: 90px;
  border: solid gainsboro;
  border-radius: 4px;
  padding: 5px;
}

.review-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, .5);
}

.helpfulness {
  cursor: pointer;
}

.report {
  cursor: pointer;
  color: var(--darkBlue);
  text-decoration: underline;
  float: right;
}

.report:hover {
  text-decoration: none;
  color: var(--tiffanyBlue);
}

.star {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.star:after {
  font-family: FontAwesome;
  content: '\f005';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
  color: #f80
}

.review-btn {
  padding: 5px;
  margin: 10px;
  color: var(--darkBlue);
  cursor: pointer;
  box-sizing: content-box;
  background-color: var(--ivory);
  border-radius: 10px;
  transition-duration: 0.2s;
  font-family: var(--roboto);
}

.review-btn:hover {
  background-color: white;
  color: var(--darkBlue);
  padding: 10px;
  margin: 5px;
}

.new-review-btn {
color: var(--darkBlue);
cursor: pointer;
box-sizing: content-box;
background-color: var(--ivory);
border-radius: 10px;
transition-duration: 0.2s;
font-family: var(--roboto);
}

.new-review-sizing {
  padding: 7px;
  margin: 10px;
  font-size: 18px;
}

.new-review-btn:hover {
  background-color: white;
  padding:10px;
  margin:7px;
}

.modal-styles {
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--ivory);
  padding: 50px;
  z-index: 1000;
  font-family: var(--roboto);
  overflow: auto;
  max-height: 80vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(84, 58, 58, 0.2);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  max-width: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.average-rating {
  font-family: var(--roboto);
  font-size: 40px;
}

.star-rate-count {
  font-family: var(--roboto);
  font-size: 14px;
}

.input-reviews {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: var(--ivory);
  padding: 7px;
  width: 300px;
  margin: 5px;
  margin-top: 5px;
  font-family: var(--roboto);
}

.input-reviews:focus {
  outline: none;
}

.text-field {
  line-height: 15px;
  height: 12px;
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 15px;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.check-container:hover input~.checkmark {
  background-color: #ccc;
}

.check-container input:checked~.checkmark {
  background-color: var(--tiffanyBlue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked~.checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ratings-title {
  font-family: var(--roboto);
}

#progress-bar-title {
  font-family: var(--roboto);
  font-size: 10px;
}

/*============ Ratings and Reviews ============= */

/* +++++++++++ Related Section Styles Below +++ +++++++++++++ ++++++++++++++++++++ ++++ +++++++ */

.related-container {
  display: flex;
  height: 600px;
  width: 1100px;
  flex-direction: column;
  border-top:rgb(0, 0, 0);
  justify-content: center;
  align-content: center;
  margin: auto;
  width: 80%;
}

.related-title {
  display: flex-start;
  /* justify-content: center; */
  font-weight: bold;
}

.container {
  display: flex;
  flex: 1;
  background: var(--ivory);
  border-radius: 18px;
  border-radius: 10px;
}

.container .add-card-container {
  display: flex;
  flex: .6;
  justify-content: center;
  border-right: 5px solid #2F6D80;
  border-left: 5px solid #2F6D80;
  border-radius: 10px;

}

.container .scroller-right {
  padding: 20px;
  max-width: 5px;
  border-right: 2px solid #2F6D80;
  opacity: .6;
  flex: 1;
  margin: 0 0 0 -47px;
  background-image: linear-gradient(to right, var(--ivory), var(--tiffanyBlue));
  border-radius: 10px;
}

.scroller-right .right-arrow {
  top: 50%;
  position:relative;
  font-size: 130%;
}

.scroller-right:hover {
  opacity: .9;
  background-image: linear-gradient(to right, var(--ivory), var(--tiffanyBlue));
}


.container .scroller-left {
  z-index: 2;
  padding: 20px;
  max-width: 5px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  opacity: .6;
  flex: 1;
  margin: 0 -47px 0 0;
  background-image: linear-gradient(to right, var(--ivory), var(--tiffanyBlue));
  border-radius: 10px;
  border-right: 2px solid rgb(47, 109, 128, 1);
}

.scroller-left .left-arrow {
  top: 50%;
  position:relative;
  font-size: 130%;
}

.scroller-left:hover {
  opacity: .9;
  background: var(--tiffanyBlue);
  background-image: linear-gradient(to right, var(--ivory), var(--tiffanyBlue));
}

.cards {
  display: inline-flex;
  flex: 2;
  grid-column-gap: 0px;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* padding: 0 35px 0 35px; */
  border-radius: 10px;
  margin: 0;
  padding: 2px 40px;
}

.add-card::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  animation: fadeIn 4s;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  max-width: 160px;
  /* max-width: 110px; */
  /* max-width: 15vw; */
  border-radius: 18px;
  box-shadow: 5px 5px 5px var(--darkBlue);
  margin: 15px 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.card .card-image {
  flex: 2;
  border-radius: 18px 18px 0 0;
}

.card-image .star-image {
  width: 18%;
  margin: 7px;
  border-radius: 18px;
  opacity: .5;
  position: relative;
  top: 3%;
  left: 72%;
}

.card-image:hover > .star-image:hover {
  opacity: .9;
  transform: scale(1.3);
  transition: all .5s;
}

.add-image {
  width: 25%;
  opacity: .4;
  border-radius: 18px;
  position: relative;
  top: 40%;
  left: 39%;
}

.card-image:hover > .add-image:hover {
  transform: scale(1.3);
  opacity: .9;
  background-color: green;
  transition: all .25s;
}

.card-footer {
  height: 30%;
  display: flex;
  flex-direction: column;
  background: var(--ivory);
  backdrop-filter: blur(8px);
  border-radius: 0px 0 18px 18px;
  padding: 3px;
  border: 1px solid var(--midnightBlue);
  font-family: var(--roboto);
  overflow-y: auto;
}

.card-footer::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.card-footer .card-content-name {
  flex: 1;
  color: var(--midnightBlue);
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 85%;
}

.card-footer .card-content-category {
  flex: .4;
  color: var(--darkBlue);
  color: #2B4560;
  text-align: left;
  font-size: 65%;
}

.card-footer .card-content-slogan {
  flex: 3;
  color: var(--darkBlue);
  text-align: left;
  font-style:italic;
  font-size: 70%;
}

.card-footer .card-content-price {
  flex: .2;
  color: #2B4560;
  text-align: center;
  margin-top: auto;
  font-size: 80%;
  font-weight: bold;
}


.cards::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

/******* Related Modal ****************************/

.related-modal-background {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: rgba(200, 200, 200, 0.7);
  z-index: 999;
  backdrop-filter: blur(5px);
}

.related-modal-container {
  position: fixed;
  flex: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background-color: var(--ivory);
  box-shadow: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  z-index: 1000;
  overflow: auto;
  font-family: var(--roboto);
  /* background-image: linear-gradient(white 50%, var(--ivory)); */
}

.rltd-modal-cols {
  display: flex;
  flex-direction: row;
}

.rltd-modal-titles-1 {
  flex: 1;
  padding: 5%;
  align-self: flex-start;
  border-right: 2px solid rgb(47, 109, 128, 1);
  border-left: 2px solid rgb(47, 109, 128, 1);
  border-radius: 18px;
  background-image: linear-gradient(to right,  var(--ivory) 50%, var(--tiffanyBlue));
}
.rltd-modal-titles-2 {
  flex: 1;
  padding: 5%;
  align-self: flex-end;
  border-right: 2px solid rgb(47, 109, 128, 1);
  border-left: 2px solid rgb(47, 109, 128, 1);
  border-radius: 18px;
  background-image: linear-gradient(to left,  var(--ivory) 50%, var(--tiffanyBlue));
}

.rltd-modal-items {
  flex: 1;

  border-right: 2px solid rgb(47, 109, 128, 1);
  border-left: 2px solid rgb(47, 109, 128, 1);
  border-radius: 18px;
  padding: 5PX;
}

.rltd-modal-comparison {
  flex: 1;
  align-self: center;
  border: 1px solid rgb(47, 109, 128, 1);
  /* border-left: 2px solid rgb(47, 109, 128, 1); */
  border-radius: 10px;
  /* background-image: linear-gradient(to right,  var(--ivory) 20%, var(--tiffanyBlue) 50%, var(--ivory) 80%); */
}

/*
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
} */

/* +++++++++++ Related Section Styles Above +++++++++++ */

/*******************************************************************************************************
QUESTIONS AND ANSWERS
******************************************************************************************************/

.questionsAndAnswers {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: auto;
  width: 80%;
  font-family: var(--roboto), Helvetica, sans-serif;
  color: var(--darkBlue);
  min-width: 550px;
}

.questionsList {
  max-height: 700px;
  overflow: auto;
}

.noMatch {
  font-size: 20pt;
}

.helpfulContainer {
  float: right;
  color: var(--tiffanyBlue);
}

.input {
  padding: 10px;
  width: 400px;
}

.input-container {
  margin-bottom: 10px;
}

.textarea {
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 30px;
}

.helpfulMessage {
  font-size: smaller;
}

.footer {
  margin: 10px;
}

.question {
  margin: 10px;
  font-weight: bold;
  font-size: larger;
}

.question-container {
  width: fit-content;
  height: fit-content;
}

.answersList {
  margin: 10px;
}

.answerImage {
  height: 90px;
  margin: 10px;
}

.answerInfo {
  color: var(--tiffanyBlue);
  font-size: smaller;
}

.answer-container {
  margin: 10px;
}

.answer-body {
  word-wrap: break-word;
}

.searchBar {
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  font-size: large;
  /* background-color: var(--ivory); */
  /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
}

.btn {
  color: var(--darkBlue);
  margin: 10px;
  padding: 5px;
  border: 1px solid var(--darkBlue);
  background-color: white;
  transition-duration: 0.4s;
  border-radius: 2px;
}

.btn:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px;
  margin: 5px;
}

.yes-btn {
  text-decoration: underline;
  color: var(--tiffanyBlue);
}

.yes-btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.add {
  width: fit-content;
  margin-top: 5px;
}

.modalBackground {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: var(--ivory), 0.5;
  z-index: 999;
  backdrop-filter: blur(5px);
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 550px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  z-index: 1000;
  overflow: auto;
  /* background-image: linear-gradient(white 50%, var(--ivory)); */
}

.helpfulContainer {
  font-size: 14px;
  float: right;
}

.btn-submit {
  color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
  background-color: white;
  transition-duration: 0.4s;
  border-radius: 2px;
  padding: 10px;
}

.btn-submit:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
}

.submit-container {
  margin: 20px;
}

@media (max-width: 500px) {
  .questionsAndAnswers {
    align-items: center;
    width: auto;
  }

  /* .modalBackground {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgba(200, 200, 200, 0.5);
    z-index: 999;
    backdrop-filter: blur(5px);
  } */

  /* .modalContainer {
    position: fixed;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    z-index: 1000;
    overflow: auto;
  } */
}

/* .question, .helpfulContainer {
  display: flex;
  flex-direction: row;
} */

/*******************************************************************************************************
QUESTIONS AND ANSWERS - END
******************************************************************************************************/


/*-----Overview-----*/

.mainImage {
  box-shadow: 0 0 10px grey;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  height: 675px;
  width: 300px;
  padding-left: 30px;
  padding-top: 30px;
}

.thumbnailCarousel {
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  scroll-behavior: smooth;
}

.thumbnailCarousel::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.galleryThumbnail {
  box-shadow: 0 0 5px grey;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 50px;
  height: 675px;
}

.arrowBox {
  display: flex;
  align-items:center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: ivory;
  border-radius: 4px;
  border: 2px solid black;
}

.mainBoxArrow {
  position: absolute;
  height: 5px;
  width: 5px;
}

.arrowBox:hover {
  cursor: pointer;
  box-shadow: 0 0 4px ivory;
}

.arrowTopBottomContainer {
  height: 35px;
  position: relative;
}

.arrowLeftContainer {
  padding-left: 20px;
}

.arrowRightContainer {
  margin-left: auto;
  margin-right: 0px;
  padding-right: 20px;
}

.carouselArrowContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
}

.carouselArrowContainer:hover {
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.overview {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%
}

#sidebarReviewInfo {
  margin-bottom: 20px;
}

.sidebarProductTitle {
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebarPriceContainer {
  margin-bottom: 30px;
}

.sidebarPrice {
  font-size: 14pt;
}

.saleOriginal {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  color: grey;
}

.saleNew {
  color: red;
}

.styleIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 3px grey;
}

.styleIcon:hover {
  cursor: pointer;
}

.sidebarSelected {
  margin-bottom: 7px;
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid black;
}

.sidebarUnselected {
  margin-bottom: 7px;
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebarUnselected:hover {
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid grey;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.styleSelectorContainer {
  margin-bottom: 20px;
}

.addToCartContainer {
  display: flex;
  flex-direction: column;
}

.cartRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: '20pt'
}

.productInfoFooter {
  margin-left: 146px;
  display: flex;
  flex-direction: row;
}

.productInfoFooterLeft {
  width: 675px;
  padding: 5px;
}

.productInfoFooterRight {
  padding-left: 30px;
}

.productSlogan {
  font-weight: bold;
  margin-bottom: 10px;
}

.addToCartbtn {
  padding: 15px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 0 2px grey;
  color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
  transition-duration: 0.4s;
  border-radius: 2px;
}

.addToCartbtn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

