body {
  background-color: white;
}

/*============ Ratings and Reviews ============= */
.review {
border: 2px solid black;
}

.seller-response {
  text-decoration: underline;
  cursor: pointer;
}
.review-thumbnail {
  width:90px;
  border: solid gainsboro;
  border-radius: 4px;
  padding: 5px;
}
.review-thumbnail:hover{
  box-shadow: 0 0 2px 1px rgba(0 , 140 , 186, .5);
}
.helpfulness {
  cursor:pointer;
}
.report {
  cursor: pointer;
  text-decoration: underline;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.star:after {
  font-family: FontAwesome;
  content: '\f005';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
  color: #f80
}
.more-reviews {
  cursor: pointer;
}

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.close {
  color:#aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
 }

 .close:hover,
 .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
 }

 .average-rating {
  font-size: 50px;
 }

 .parent-div {
  height: 20px;
  width: 100%;
  background-color: #aaa;
  border-radius: 40px;
  margin: 50;
 }

 .child-div {
  height: 100%;
  background-color: rgb(79, 77, 77);
  border-radius: 40px;
  text-align: right;
 }

 .progress-text {
  padding: 10;
  color: lightblue;
  font-weight: 900;
 }


/*============ Ratings and Reviews ============= */

/* +++++++++++ Related Section Styles Below +++++++++++ */
:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

/* .scrolling-wrapper-flexbox {
  display: flex;
  padding: 20px 25px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
} */

.container {
  display: flex;
  max-width: 900px;
  min-height: 292px;
  padding: 0 15px 0 1px;
  background:rgba(158, 158, 158, 0.5);
  /* background-image: url("https://dw9to29mmj727.cloudfront.net/properties/2016/3100-Thumb_PokemonGeneral_v3_400x320.jpg"); */
  /*V V V Makes box centered on the browser V V V */
  margin: 0 auto;
}

h2 {
  color: rgb(0, 8, 164);
  font-size: 20px;
}

.cards {
  display: inline-flex;
  grid-column-gap: 35px;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 35px 50px;
  scroll-snap-type: x mandatory;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.card {
  animation: fadeIn 4s;
  flex-direction: column;
  display: flex;
  min-height: 190px;
  min-width: 100px;
  max-height: 190px;
  max-width: 100px;
  border-radius: 0 18px 18px 18px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.card:hover {
  color: rgb(0, 21, 156);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  transition: all .3s;
}

.card .card-image {
  width: 100%;
  height: 75%;
  border-radius: 0px 18px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .add-image {
  opacity: .7;
  transform: scale(1.4);
  transition: all .5s;
}

.card-image .add-image {
  width: 25%;
  opacity: .4;
  border-radius: 18px;
}

.card .card-footer {
  height: 35%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 0px 0 18px 18px;
  padding-bottom: 3px;
  padding-left: 5px;
}

.card-footer .card-content-name {
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  height: 100%;
  padding: 2%;
  font-size: 80%;
}

.card-footer .card-content-category {
  color: rgb(0, 0, 0);
  text-align: left;
  height: 100%;
  padding: 2%;
  font-size: 60%;
}

.card-footer .card-content-price {
  color: rgb(0, 0, 0);
  text-align: left;
  height: 100%;
  padding: 2%;
  font-size: 60%;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: black;
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}
/*
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
} */


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
.page-footer a {
  display: flex;
  margin-left: 4px;
} */
/* +++++++++++ Related Section Styles Above +++++++++++ */

/**********************************************
QUESTIONS AND ANSWERS
***********************************************/

.questionsAndAnswers {
  /* max-height: 500px; */
  overflow: auto;
  position: relative;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.questionsList {
  max-height: 500px;
  overflow: auto;
}

.answersList {
  overflow: auto;
}

.answerImage {
  height: 90px;
  margin: 10px;
}

.noMatch {
  font-size: 20pt;
}

.helpfulContainer {
  float: right;
}

.input {
  margin: 10px;
}

.footer {
  margin: 10px;
}

.question {
  margin: 10px;
  font-weight: bold;
  font-size: large;
}

.answer {
  margin: 10px;
}

.searchBar{
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  font-size: large;
}

.btn {
  padding: 5px;
  box-sizing:content-box;
  background-color: #fff;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #bac0c1;
  color: rgb(0, 0, 0);
}

.add {
  margin-top: 5px;
}

.modalBackground {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: rgba(200, 200, 200, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999
}

.modalContainer {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  z-index: 1000
}


/*-----Overview-----*/
.thumbnailCarousel {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.thumbnailCarousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


