body {
  background-color: white;
}

/*============ Ratings and Reviews ============= */
.review {
border: 2px solid black;
}

.seller-response {
  text-decoration: underline;
  cursor: pointer;
}
.review-thumbnail {
  width:90px;
  border: solid gainsboro;
  border-radius: 4px;
  padding: 5px;
}
.review-thumbnail:hover{
  box-shadow: 0 0 2px 1px rgba(0 , 140 , 186, .5);
}
.helpfulness {
  cursor:pointer;
}
.report {
  cursor: pointer;
  text-decoration: underline;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.star:after {
  font-family: FontAwesome;
  content: '\f005';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
  color: #f80
}
.more-reviews {
  cursor: pointer;
}

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.close {
  color:#aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
 }

 .close:hover,
 .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
 }

 .average-rating {
  font-size: 50px;
 }

 .parent-div {
  height: 20px;
  width: 100%;
  background-color: #aaa;
  border-radius: 40px;
  margin: 50;
 }

 .child-div {
  height: 100%;
  background-color: rgb(79, 77, 77);
  border-radius: 40px;
  text-align: right;
 }

 .progress-text {
  padding: 10;
  color: lightblue;
  font-weight: 900;
 }


/*============ Ratings and Reviews ============= */

/* +++++++++++ Related Section Styles Below +++++++++++ */
:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

/* .scrolling-wrapper-flexbox {
  display: flex;
  padding: 20px 25px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
} */

.container {
  width: 725px;
  height: 215px;
  padding: 3px 15px 0 15px;
  background:rgba(0 , 140 , 186, .5);
  /*V V V Makes box centered on the browser V V V */
 /* margin: 0 auto; */
}

h2 {
  color: rgb(0, 8, 164);
  background: rgba(255, 255, 255, 0.2);
  font-size: 20px;
  /* opacity: .09; */
  backdrop-filter: blur(50px);
}

.cards {
  display: grid;
  grid-auto-columns: 100px;
  grid-column-gap: 50px;
  grid-auto-flow: column;
  list-style: none;
  overflow-x: auto;
  padding: 10px 10px;
  scroll-snap-type: x mandatory;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.card {
  animation: fadeIn 4s;
  display: -ms-inline-grid;
  flex-direction: column;
  height: 150px;
  width: 100px;
  padding: 1px 1px;
  color: rgb(0, 0, 0);
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgb(0, 76, 255);
  scroll-snap-align: start;
}

.card:hover {
  color: rgb(0, 21, 156);
  box-shadow: 8px 8px 8px 0px rgba(0, 25, 248, 0.7);
  transform: scale(1.05);
  transition: all .3s;
}

.card .card-title {
  color: rgb(0, 8, 164);
  background: rgba(255, 255, 255, 0.2);
  font-size: 15px;
  margin-bottom: 0;
  backdrop-filter: blur(5px);
}

.card .card-content-name {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.2);
  font-size: 15px;
  position: relative;
  display: inline-table;
  left: 5px;
  top: 3px;
  backdrop-filter: blur(8px);
  border-radius: 18px;
  margin: 2px 2px 2px 2px;
}

.card .card-content-id {
  color: rgb(0, 8, 164);
  background: rgba(255, 255, 255, 0.2);
  font-size: 15px;
  text-align: center;
  position: relative;
  display: inline-table;
  left: 5px;
  bottom: 0px;
  backdrop-filter: blur(5px);
  border-radius: 18px;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: black;
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}
/*
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
} */


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
} */
/* +++++++++++ Related Section Styles Above +++++++++++ */

/**********************************************
QUESTIONS AND ANSWERS
***********************************************/

.questionsAndAnswers {
  /* max-height: 500px; */
  overflow: auto;
  position: relative;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.questionsList {
  max-height: 500px;
  overflow: auto;
}

.answersList {
  overflow: auto;
}

.answerImage {
  height: 90px;
  margin: 10px;
}

.noMatch {
  font-size: 20pt;
}

.helpfulContainer {
  float: right;
}

.input {
  margin: 10px;
}

.footer {
  margin: 10px;
}

.question {
  margin: 10px;
  font-weight: bold;
  font-size: large;
}

.answer {
  margin: 10px;
}

.searchBar{
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  font-size: large;
}

.btn {
  padding: 5px;
  box-sizing:content-box;
  background-color: #fff;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #bac0c1;
  color: rgb(0, 0, 0);
}

.add {
  margin-top: 5px;
}

.modalBackground {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: rgba(200, 200, 200, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999
}

.modalContainer {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  z-index: 1000
}

.helpfulContainer {
  float: right;
}


/*-----Overview-----*/
.thumbnailCarousel {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.thumbnailCarousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowLeftContainer:hover {
  background-color: rgb(40,40,40, 0.5);
}

.arrowRightContainer:hover {
  background-color: rgb(40,40,40, 0.5);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.overview {
  font-family: Arial, Helvetica, sans-serif;
}

#sidebarProductTitle {
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 10px;
}

#sidebarPrice {
  font-size: 14pt;
  margin-bottom: 10px;
  margin-left: 5px;
}

.styleIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
}

.sidebarSelected {
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid black;
}

.sidebarUnselected {
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebarUnselected:hover {
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid grey;
}