body {
  background-color: white;
}

/*============ Ratings and Reviews ============= */
.review {
border: 2px solid black;
}

.seller-response {
  text-decoration: underline;
  cursor: pointer;
}
.review-thumbnail {
  width:90px;
  border: solid gainsboro;
  border-radius: 4px;
  padding: 5px;
}
.review-thumbnail:hover{
  box-shadow: 0 0 2px 1px rgba(0 , 140 , 186, .5);
}
.helpfulness {
  cursor:pointer;
}
.report {
  cursor: pointer;
  text-decoration: underline;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.star:after {
  font-family: FontAwesome;
  content: '\f005';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
  color: #f80
}
.more-reviews {
  cursor: pointer;
}

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1000;
}

.close {
  color:#aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
 }

 .close:hover,
 .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
 }


/*============ Ratings and Reviews ============= */

/* +++++++++++ Related Section Styles Below +++++++++++ */
:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

.review {
border: 2px solid black;
}

/* .scrolling-wrapper-flexbox {
  display: flex;
  padding: 20px 25px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
} */

.container {
  max-width: 500px;
  padding: 10px 25px;
  margin: 0 auto;
  background:rgba(0 , 140 , 186, .5)
}

h2 {
  color: rgb(0, 8, 164);
  font-size: 20px;
  margin-bottom: 0;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 15px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

@keyframes cardSlideInFromLeft {
  0% {
    transform: translateX(500%);
  }
  100% {
    transform: translateX(100);
  }
}

.card {
  animation: 1s ease-out 0s 1 cardSlideInFromLeft;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 30px 30px;
  color: aqua;
  background: rgb(4, 3, 99);
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgb(0, 76, 255);
  scroll-snap-align: start;
  transition: all 1.5s;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: rgb(0, 21, 156);
  background: aqua;
  box-shadow: 10px 10px 10px 0px rgba(0, 25, 248, 0.7);
}

.card .card-title {
  font-size: 15px;
}

.card .card-content {
  margin: 10px 0px;
  max-width: 85%;
}

/* .card .card-link-wrapper {
  margin-top: auto;
} */

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: black;
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}
/* +++++++++++ Related Section Styles Above +++++++++++ */

/**********************************************
QUESTIONS AND ANSWERS
***********************************************/

.questionsAndAnswers {
  height: 600px;
  overflow: auto;
  position: relative;
  margin: 20px;
}

.answersList {
  overflow: auto;
}

.answerImage {
  height: 90px;
  margin: 10px;
}

.noMatch {
  font-size: 20pt;
}

/*-----Overview-----*/
.thumbnailCarousel {
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.thumbnailCarousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.helpfulContainer {
  float: right;
}

/* #modalBackground {
  top: 0;
  left: 0;
  height: '100%';
  width: '100%';
  position: 'fixed';
  display: 'flex';
  background-color: 'rgba(200, 200, 200, 0.5)';
  justify-content: 'center';
  align-items: 'center';
  z-index: 999
}

#modalContainer {
  position: 'absolute';
  width: '500px';
  height: '500px';
  border-radius: '12px';
  background-color: '#fff';
  box-shadow: 'rgba(0, 0, 0, 0.5)';
  display: 'flex';
  flex-direction: 'column';
  padding: '25px';
  text-align: 'center';
  z-index: 1000
} */
