body {
  background-color: aqua;
}

/*============ Ratings and Reviews ============= */
.review {
border: 2px solid black;
}

.seller-response {
  text-decoration: underline;
  cursor: pointer;
}
.review-thumbnail {
  width:90px;
  border: solid gainsboro;
  border-radius: 4px;
  padding: 5px;
}
.review-thumbnail:hover{
  box-shadow: 0 0 2px 1px rgba(0 , 140 , 186, .5);
}
.helpfulness {
  cursor:pointer;
}
/*============ Ratings and Reviews ============= */

/* +++++++++++ Related Section Styles Below +++++++++++ */
:root {
  --red: #ef233c;
  --darkred: #c00424;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

<<<<<<< HEAD
.review {
border: 2px solid black;
}

.scrolling-wrapper-flexbox {
=======
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
  font: 14px / 24px "Rubik", sans-serif;
  color: white;
  background: var(--platinum);
  margin: 50px 0;
}

.container {
  max-width: 1400px;
  padding: 10px 25px;
  margin: 0 auto;
  background:rgba(0 , 140 , 186, .5)
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 5em;
}

.cards {
>>>>>>> main
  display: flex;
  padding: 20px 25px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 0px 20px;
  background: rgb(4, 3, 99);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all .5s;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: rgb(0, 21, 156);
  background: aqua;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.card .card-title {
  font-size: 15px;
}

.card .card-content {
  margin: 10px 0px;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

/* .card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: aqua;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 10s;
} */

/* .card:hover .card-link {
  background: aqua;
} */

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: black;
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: fixed;
  right: 0;
  bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.page-footer a {
  display: flex;
  margin-left: 4px;
}
/* +++++++++++ Related Section Styles Above +++++++++++ */

/**********************************************
QUESTIONS AND ANSWERS
***********************************************/

.answerImage {
  height: 90px;
  margin: 10px;
}

.noMatch {
  font-size: 20pt;
}
