:root {
--ivory: #E1E7E0;
--darkBlue: #2B4560;
--tiffanyBlue: #6AA4B0;
--midnightBlue:#2F6D80;
}

body {
  background-color: var(--ivory);
  color: var(--darkBlue);
}

/*============ Ratings and Reviews ============= */

#sort-menu {
font-family: Arial, Helvetica, sans-serif;
font-size: large;
margin-left: 48%;
margin-top: 18px;
}
.review {
  border-left: 2px solid #2F6D80;
  border-right: 2px solid #2F6D80;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.review-list {
  padding: 2rem;
  width: 50%;
  max-height: 90vh;
  margin: 5px;
  word-wrap: break-word;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}

.load-more {
  margin-top: 5px;
  margin-left: 10%;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.seller-response {
  text-decoration: underline;
  cursor: pointer;
}

.review-thumbnail {
  width: 90px;
  border: solid gainsboro;
  border-radius: 4px;
  padding: 5px;
}

.review-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, .5);
}

.helpfulness {
  cursor: pointer;
}

.report {
  cursor: pointer;
  text-decoration: underline;
}

.star {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.star:after {
  font-family: FontAwesome;
  content: '\f005';
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  overflow: hidden;
  color: #f80
}

.review-btn {
  padding: 5px;
  cursor: pointer;
  box-sizing: content-box;
  background-color: #fff;
  border-radius: 10px;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}

.review-btn:hover {
  background-color: #bac0c1;
  color: rgb(0, 0, 0);
}

.review-add {
  margin-top: 5px;
  margin-left: 10%;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


.modal-styles {
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  max-height: 70vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(84, 58, 58, 0.2);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  max-width: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.average-rating {
  font-size: 50px;
}

.parent-div {
  height: 20px;
  width: 100%;
  background-color: #aaa;
  border-radius: 40px;
  margin: 50;
}

.child-div {
  height: 100%;
  background-color: rgb(79, 77, 77);
  border-radius: 40px;
  text-align: right;
}

.progress-text {
  padding: 10;
  color: lightblue;
  font-weight: 900;
}

.side-bar {
  border: 2px solid #2F6D80;
  border-radius: 10px;
  padding: 2rem;
  width: 30%;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-reviews {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  padding:7px;
  width: 300px;
  margin: 5px;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-reviews:focus {
  outline: none;
}

.text-field {
  line-height: 15px;
  height: 10px;
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 15px;
}

.check-container{
  display:block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.check-container input {
  position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.check-container:hover input~.checkmark {
  background-color: #ccc;
}

.check-container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked~.checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/*============ Ratings and Reviews ============= */

/* +++++++++++ Related Section Styles Below +++++++++++ */


.container {
  display: flex;
  max-width: 900px;
  min-width: 340px;
  max-height: 245px;
  background: rgba(158, 158, 158, 0.5);
  /*V V V Makes box centered on the browser V V V */
  /* margin: 0 auto; */
  border-radius: 18px;
  padding: 0 10px 0  0;
}

.container .add-card-container {
  background: rgb(67, 67, 67, .2);
  border-radius: 18px;
  display: flex;
  min-width: 180px;
}

.add-card {
  display: flex;
  padding: 10px 35px 0 35px;
}

.cards {
  display: inline-flex;
  min-height: 210px;
  padding: 10px 15px 0px 45px;
  grid-column-gap: 50px;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  animation: fadeIn 4s;
  flex-direction: column;
  display: flex;
  min-height: 190px;
  min-width: 100px;
  max-height: 190px;
  max-width: 100px;
  border-radius: 18px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.card:hover {
  color: rgb(0, 21, 156);
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  transition: all .3s;
}

.card .card-image {
  width: 100%;
  height: 75%;
  border-radius: 18px 18px 0 0;
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

.card-image .star-image {
  width: 20%;
  margin: 7px;
  border-radius: 18px;
  opacity: .5;
}

.card-image:hover > .star-image:hover {
  opacity: .9;
  transform: scale(1.3);
  transition: all .5s;
}

.card-image .add-image {
  width: 25%;
  opacity: .4;
  border-radius: 18px;
  margin: 7px;
}

.card-image:hover > .add-image:hover {
  transform: scale(1.3);
  opacity: .9;
  transition: all .25s;
}

.card-footer {
  height: 35%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  border-radius: 0px 0 18px 18px;
}

.card-footer .card-content-name {
  color: rgb(0, 0, 0);

  width: 100%;
  text-align: left;
  font-weight: bold;
  max-height: 15.833px;
  padding: 0 0 0 3px;
  font-size: 80%;
}

.card-footer .card-content-category {
  color: rgb(0, 0, 0);
  text-align: left;

  width: 100%;
  max-height: 15.833px;
  padding: 3px 0 0 3px;
  font-size: 60%;
}

.card-footer .card-content-price {
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: 3px;
  font-size: 60%;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #b0b0b0;
  background-clip: padding-box;
  border: 0.05em solid #eeeeee;
  border-radius: 10px;
}

.cards::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
.cards::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

.cards::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
.cards::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

.cards::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
/*
.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: black;
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
} */

.rltd-modal-cols {
  display: flex;
  flex-direction: row;
}

.rltd-modal-titles {
  flex: 2;
  padding: 5%
}

.rltd-modal-items {
  flex: 1;
}

.rltd-modal-comparison {
  flex: 1;
}

/*
@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
} */


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
.page-footer a {
  display: flex;
  margin-left: 4px;
} */
/* +++++++++++ Related Section Styles Above +++++++++++ */

/**********************************************************************
QUESTIONS AND ANSWERS
***********************************************************************/

.questionsAndAnswers {
  /* max-height: 500px; */
  overflow: auto;
  position: relative;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.questionsList {
  max-height: 650px;
  overflow: auto;
}

.answersList {
  overflow: auto;
}

.answerImage {
  height: 90px;
  margin: 10px;
}

.answerInfo {
  color: #bac0c1;
}

.noMatch {
  font-size: 20pt;
}

.helpfulContainer {
  float: right;
  color: #bac0c1;
}

.input {
  padding: 10px;
  width: 400px;
}

.input-container {
  margin-bottom: 10px;
}

.textarea {
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 30px;
}

.helpfulMessage {
  font-size: smaller;
}

.footer {
  margin: 10px;
}

.question {
  margin: 10px;
  font-weight: bold;
  font-size: large;
}

.answer {
  margin: 10px;
}

.searchBar {
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  font-size: large;
}

.btn {
  color: black;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: #fff;
  transition-duration: 0.4s;
  border-radius: 1px;
}

.btn:hover {
  background-color: #bac0c1;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.yes-btn {
  text-decoration: underline;
  color: cornflowerblue;
}

.yes-btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.add {
  margin-top: 5px;
}

.modalBackground {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: rgba(200, 200, 200, 0.5);
  z-index: 999
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 550px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;
  z-index: 1000;
  overflow: auto;
}

.helpfulContainer {
  float: right;
}

/* .question, .helpfulContainer {
  display: flex;
  flex-direction: row;
} */


/*-----Overview-----*/

.mainImage {
  box-shadow: 0 0 10px grey;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  height: 675px;
  width: 300px;
  padding-left: 30px;
  padding-top: 30px;
}

.thumbnailCarousel {
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
}

.thumbnailCarousel::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
}

.galleryThumbnail {
  box-shadow: 0 0 5px grey;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowLeftContainer:hover {
  background-color: rgb(40, 40, 40, 0.5);
  cursor: pointer;
}

.arrowRightContainer:hover {
  background-color: rgb(40, 40, 40, 0.5);
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.overview {
  font-family: Arial, Helvetica, sans-serif;
}

#sidebarProductTitle {
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 10px;
}

#sidebarPrice {
  font-size: 14pt;
  margin-bottom: 10px;
  margin-left: 5px;
}

.styleIcon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 10px grey;
}

.styleIcon:hover {
  cursor: pointer;
}

.sidebarSelected {
  margin-bottom: 7px;
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid black;
}

.sidebarUnselected {
  margin-bottom: 7px;
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebarUnselected:hover {
  margin-right: 7px;
  border-radius: 50%;
  border: 2px solid grey;
}